# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.exe

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Java sepecific things
*.class
*.jar

# Stuff asked to add by netbeans
*.netbeans_update_resources
*.netbeans_automatic_build
*.properties
*.mf
*.zip

# log files
*.log


# Keychain for encryption
KEYCHAIN
# Stuff used for archives: 
archived/
raw/

# Log files:
*.log

# ingore all the stuff used for the output, but keep the javadoc
/dist/bin/
/build/
/nbproject/private/

# IDE stuff (Eclispe)
.project
.classpath
/docs/website/nbproject/private/