/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2017, 7:03:27 AM
    Author     : Lam Zyun
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
#background {
    background-color: #00ffff;
}

#menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#menubarText {
    float: left;
}

#menubarText a {
    text-decoration: none;
    padding: 10px 10px;
    text-align: center;
    color: white;
    display: block;
    font-family: 'Open Sans', sans-serif;
}

#menubarText a:hover:not(.activeMenu) {
    background-color: #666666;
}

.activeMenu {
    background-color: #666600;
}

#title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

#subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
}

#text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}