#code {
	font-family: courier; 
}

table{
	border: 1px solid black;
}

th, tr {
	padding: 5px;
}

body {
    font-family: arial;
}

#subtitle {
    font-weight: bold;
}

a {
    color: blue;
}